<ion-view  cache-view="false" title="Book List">
	<div class="item item-input" style="margin-top: 14%;">
	    <i class="icon ion-search placeholder-icon"></i>
	    <input type="search" placeholder="Search" id="myInput" ng-model="filterName">
    </div>
    <ion-content overflow-scroll="false">   
        <div class="card" ng-repeat="book in book_display | filter:filterName" style="margin-top: 25%;margin-bottom: 0px">
	    <div class="item item-divider" style="text-align: center;">
	    {{book.bookName}}<button class="button-clear" style="float: right;padding: 0px" ng-click="bookDetails(book)"><i class="icon ion-trash-b  placeholder-icon"></i></button>
	    </div>
	   
	    <ion-item class="item-remove-animate item-thumbnail-left item-text-wrap" 	ng-click="bookInfo(book.bookName)">
		    <img src="img/book.jpg">
		    <h2>Category:{{book.category}}</h2>
		    <h4>ISBN Number:{{book.isbnNumber}}</h4>
		    <p>Release Date:{{book.releaseDate | date}}</p>
		    <p>Added Date:{{book.addedDate | date}}</p>  
	    </ion-item>
	   
		  <div class="item item-divider" >
		    Author:{{book.authorName}}
		  </div>
    </div>
</ion-content>
</ion-view>
  
 