<ion-view  cache-view="false" title="Admin">
  
  <ion-content overflow-scroll="false">
 <div class="item item-input" >
    <i class="icon ion-search placeholder-icon"></i>
    <input type="search" placeholder="Search" id="myInput" ng-model="filterName">
  </div>
<div class="card" ng-repeat="book in book_display | filter:filterName">
  <div class="item item-divider">
    {{book.bookName}}
  </div>
  <div class="item item-text-wrap">
    
    <div class="item item-thumbnail-left">
      <i class="icon ion-home"></i>
      <h2>{{book.isbnNumber}}</h2>
      <p>{{book.releaseDate}}</p>
      <p>{{book.addedDate}}</p>

     </div>

  </div>
  <div class="item item-divider">
    Author:{{book.authorName}}
  </div>
</div>
</ion-content>
</ion-view>
  
 